.display .display-button {
    background-color: #ee9f95;
    width: 10%;
    border-color: white;
    border-radius: 40px;
    display: flex;
    color: white;
    justify-self: center;
    justify-content: center;
    
  }